* {
    font-family: 'Manrope';
  }

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202632;
}

.content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33%;
    height: 20vw;
    background-color: #313a49;
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.content div {
    font-weight: 800;
}

h1{
    color: #53ffab;
    font-size: 0.7vw;
    letter-spacing: 0.3vw;
    position: absolute;
    top: 3vw;
    left: 12.8vw;
}

#advice-text{
    color: #c6dae1;
    font-size: 1.5vw;
    letter-spacing: 0.1vw;
    position: absolute;
    left: 3vw;
    top: 6vw;
    width: 80%;
}

#action-button{
    background-color: #53ffab;
    border: none;
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    position: absolute;
    bottom: -2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#action-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 25px #53ffab;
  }

#dice {
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}

#divider1 {
    display: block;
    width: 80%;
    position: absolute;
    bottom: 4vw;
    left: 3.3vw;
}

#divider2 {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
    color: #c6dae1;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 450px) {

    body{
        width:100vw;
        height:100vh;
    }

    .content {
      width: 90%;
      min-height: 50%;
      max-height: 40%;
    }

    h1{
        font-size: 3vw;
        letter-spacing: 1vw;
        position: absolute;
        top: 15vw;
        left: 30vw;
    }
    
    #advice-text{
        font-size: 7vw;
        letter-spacing: 0.1vw;
        position: absolute;
        left: 8vw;
        top: 36vw;
        width: 80%;
    }

    #divider1 {
        display: none;
    }

    #divider2 {
        display: block;
        width: 80%;
        position: absolute;
        bottom: 20vw;
        left: 8vw;
    }

    #action-button{
        border-radius: 50%;
        height: 20vw;
        width: 20vw;
        position: absolute;
        bottom: -8vw;
    }
  }